
[Unit]
Description=node_export
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
Type=simple

ExecStart={{ node_exporter_bin_dir }}/node_exporter --web.listen-address=:{{ node_exporter_port }} --collector.textfile.directory={{ node_exporter_prom_dir }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
